.input {
  background-color: bisque !important;
}

#date {
  background-color: lightseagreen;
}

#course {
  background-color: lightblue;
}

#button {
  background-color: goldenrod;
}

#radio {
  background-color: goldenrod;
}

.green {
  color: green;
}

#white {
  background-color: white;
}

.font {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: 30px;
}

.letter {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  font-weight: 50px;
}
